<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:each="user : ${users}">
        <strong th:text="${user.username} + ' ' + ${user.lastname}"></strong>
        (Age: <span th:text="${user.age}"></span>)
    <form th:action="@{/admin/edit/{id}(id=${user.id})}" method="get" style="display:inline;">
        <button type="submit"
                class="add">Update</button>
    </form>
    <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post" style="display:inline;">
        <button type="submit"
                class="add">Delete</button>
    </form>
</div>
<br>
<a th:href="@{/admin/new}" class="add">Add User</a>
<br>
<form th:action="@{/logout}"
      method="post">
    <button type="submit">Exit</button>
</form>
</body>
</html>